/* STANDARD NAVBAR STYLING, incl resume button */

#navbar {
    top:0;
    z-index: 200;
    position:fixed;
    display:flex;
    width:100%;
    min-height:64px;
    background-color:var(--c4);
    border-bottom:10px solid black;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}

.navelem {
    display:flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    font-size:18px;
    padding: 5px 30px 5px 30px;
    min-height:64px;
}

#navlist {
    flex-direction:row;
    flex-grow:1;
    align-items:center;
    min-width:fit-content;
    overflow:hidden;
    list-style:none;
}

#navtitle {
    background-color: var(--c5);
    border-right: 10px solid black;
    text-align:center;
    font-family: var(--headerfont);
    overflow:hidden;
}

.navitem{
    font-family: var(--textfont);
    color:black;
    text-decoration:none;
}

a.navitem:hover {
    background-color: var(--c5);
}

a.navitem:active {
    color:white;
}

.downloadimg {
    width:30px;
    padding-left:10px;
}

.navres:active .downloadimg {
    filter:invert(1);
}

.navitem:not([href]) {
    cursor:context-menu;
}

.navitem:not([href]):active {
    color:black;
}

.navnonmobile {
    display:flex;
}

/* PROJECTS TAB DROPDOWN */

.arrowimg {
    width:25px;
    padding: 5px 0px 0px 10px;
}

.navproj:hover span.navitem{
    background-color: var(--c5);
}

.navproj:hover .arrowimg {
    transform:scaleY(-1);
    padding: 0px 0px 5px 10px;
}

.dropdown {
    display:none;
    flex-direction:column;
    position:absolute;
    width:178.125px; /*FIX*/
    list-style:none;
    left:526.891px;
    border-bottom: 10px solid black;
    border-left:   10px solid black;
    border-right:  10px solid black;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}

.dropdown a{
    background-color:var(--c4);
    position: relative;
    width:inherit;
    padding:10px;
}

.navproj:hover .dropdown {
    display:flex;
}

/* COLLAPSABLE MENU */

#burgerbun {
    display:none;
    flex-direction:row-reverse;
    flex-grow:1;
    background-color: var(--c4);
    min-width:fit-content;
    overflow:hidden;
    list-style:none;
}

#closedburger {
    display:flex;
    align-items: center;
    padding:0px 6.25px 0px 7.75px;
    cursor:pointer;
}

#closedburger img {
    width:50px;
}

#openburger {
    display:none;
}

#grillmarks {
    display:flex;
    justify-content:center;
    align-items: center;
    padding:0px 12px 0px 12px;
    min-height:64px;
    cursor:pointer;
}

#grillmarks img {
    width:40px;
    height:35px;
}

#closedburger:hover, #grillmarks:hover {
    background-color: var(--c5);
}

#burgertoppings {
    z-index:205;
    display:block;
    flex-direction:column;
    position:absolute;
    width:100%;
    list-style:none;
    right:0;
    border-bottom:10px solid black;
}

#burgertoppings .navitem {
    background-color:var(--c4);
    position:relative;
    text-align:center;
    width:100%;
}

#grease {
    z-index:195;
    background-color: rgba(0,0,0,0.5);
    display:block;
    position:absolute;
    right:0;
    width:100%;
    height:100vh;
    overflow:hidden;
}

#projspan {
    cursor:pointer;
}

#projspan:hover, #burgertoppings .navitem:hover {
    background-color:var(--c5);
}

body {
    margin-top:74px;
}

@media only screen and (max-width:877px){
    .navnonmobile {
        display:none;
    }

    #burgerbun {
        display:flex;
    }
}

@media only screen and (max-width:328px){
    body {
        margin-top:106px;
    }
}

@media only screen and (max-width:328px){
    #grillmarks {
        min-height:108px;
    }
}